<h1>Posts#index</h1>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-contents">
      <%= post.contents %>
    </div>
  </div>
<% end %>
